@tailwind base;
@tailwind components;
@tailwind utilities;

.background-image {
    background-image: url('../images/bgimage.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
  }
  